<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" data-ng-app="app">
<head>
    <title>My Driving School</title>
    <link href="Content/fullcalendar.min.css" rel="stylesheet" />
    <link href="Content/bootstrap.css" rel="stylesheet"/>
    <link href="Content/Site.min.css" rel="stylesheet" />
</head>
<body data-ng-controller="MyDriveController">
    <div class="container" ng-switch="pageNumber">
        <div class="row" ng-switch-when="1">
            <div class="col-lg-4">&nbsp;</div>
            <div class="col-lg-4">
                <form name="loginForm" class="loginForm" novalidate ng-submit="login()">

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon login-img" id="basic-addon2">
                                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                                </span>
                            <input type="email" id="Email" name="Email" data-ng-model="loginData.userName" class="form-control txtbox" placeholder="Email" required=""/>
                        </div>

                    </div>
                    <div style="height: 15px;">&nbsp;</div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon login-img" id="basic-addon1">
                                    <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                                </span>
                            <input type="password" name="Password" class="form-control txtbox" required="" data-ng-model="loginData.password" placeholder="Password"/>
                        </div>

                    </div>

                    <div class="form-group text-center">
                        <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">

                            <button class="btn btn-yellow" ng-click="submitted=true" type="submit">LOGGA IN</button>
                        </div>
                    </div>
                    <div class="form-group">&nbsp;</div>

                </form>
            </div>
            <div class="col-lg-4">&nbsp;</div>
        </div>
        <div class="row" ng-switch-when="2">
            <div class="col-lg-12">
                <div ui-calendar="uiConfig.calendar" ng-model="eventSources">
            </div>
        </div>
    </div>
    <script src="Scripts/moment.js"></script>
    <script src="Scripts/jquery-1.9.1.min.js"></script>
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/calendar.js"></script>
    <script src="Scripts/fullcalendar.min.js"></script>
    <script src="Scripts/gcal.js"></script>
    <script src="Scripts/app.js"></script>
</body>
</html>
